li {
    margin-bottom: 1rem;
}

.btn {
    margin-left: 0.5rem;
    padding: 8px 10px;
    border: none;
    background: #6156CC;
    color: white;
    border-radius: 5pc;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    &:hover {
        background: #7f76d7;
    }
}

